<!DOCTYPE HTML>
<html>
    <head>
	<title>Flask-SocketIO Test</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	 $(document).ready(function() {
	     namespace = '';
	     
	     var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
	     
	     // Event handler for new connections.
	     // The callback function is invoked when a connection with the
	     // server is established.
	     socket.on('connect', function() {
		 socket.emit('looking_for_a_party', {});
             });
	     
             // Event handler for server sent data.
             // The callback function is invoked whenever the server emits data
             // to the client. The data is then displayed in the "Received"
             // section of the page.
             socket.on('party_found', function(msg) {
		 $('#log').append('<br>' + $('<div/>').text('Party found, angle : ' + msg.starting_angle + ' uid : ' + msg.uid + '.<br>Players : ' + JSON.stringify(msg.players) + '<br>Foods : ' + JSON.stringify(msg.foods)).html());
             });

	     socket.on('update', function(msg) {
		 $('#log').append('<br>' + $('<div/>').text('Update : ' + msg.time).html());
             });

	     socket.on('action', function(msg) {
		 if (msg.type == "pop_food") {
		     text = 'Poppen food : ' + JSON.stringify(msg.food);
		 } else if (msg.type == 'join') {
		     text = 'Joined user : ' + JSON.stringify(msg.player);
		 } else {
		     text = 'Action ' + msg.type + ' from : ' + msg.uid;
		 }
		 
		 $('#log').append('<br>' + $('<div/>').text(text).html());
             });

             // Handlers for the different forms in the page.
             // These accept data from the user and send it to the server in a
             // variety of ways
             $('form#emit').submit(function(event) {
		 socket.emit($('#emit_type').val(), {'type': $('#emit_data').val()});
		 return false;
             });
             $('form#disconnect').submit(function(event) {
		 socket.emit('disconnect_request');
		 return false;
             });
	 });
	</script>
    </head>

    <body>
	<h1>Circle IO debug page :</h1>
	<h2>Send:</h2>
	<form id="emit" method="POST" action='#'>
	    <input type="text" name="emit_type" id="emit_type" placeholder="Event">
            <input type="text" name="emit_data" id="emit_data" placeholder="Type">
            <input type="submit" value="Act!">
	</form>
	<form id="disconnect" method="POST" action="#">
            <input type="submit" value="Disconnect">
	</form>
	<h2>Receive:</h2>
	<div id="log"></div>
    </body>
</html>



